version: "3.7"
services:
  app:
    build: .
    init: true
    image: coronastatus:latest
    volumes:
      - ./:/app
      - node_modules:/app/node_modules
    ports:
      - "127.0.0.1:7272:7272"
    networks:
      - cs
    restart: unless-stopped
    command: yarn dev
networks:
  cs:
    driver: bridge
volumes:
  node_modules:
    driver: local
