<div class="w-1/2 md:w-1/4 p-4 mt-8 text-white text-center md:text-left">
  <div class="w-32 h-32 mx-auto md:ml-0">
    <img src="<%= image %>" alt="icon" />
  </div>
  <h2 class="text-xl text-white font-bold my-3"><%= title %></h2>
  <%= description %>
</div>
