<li
  class="w-1/2 md:w-1/4 p-4 text-white text-center text-4xl font-bold flex flex-col items-center"
>
  <div class="w-32 h-32 flex">
    <img src="<%= image %>" alt="icon" style="object-fit: contain;" />
  </div>
  <div class="py-4 text-purple-800"><%= number %></div>
  <p class="text-gray-600 text-center text-lg font-bold uppercase mb-4 h-12">
    <%= title %>
  </p>
</li>
