<div
  class="w-1/2 md:w-1/4 p-4 mt-8 text-black flex flex-col items-center text-center"
>
  <div class="w-32 h-32 flex justify-center md:ml-0">
    <img src="<%= image %>" alt="icon" style="object-fit: contain;" />
  </div>
  <h2 class="text-xl text-black font-bold my-3"><%= title %></h2>
  <%= description %>
</div>
