<div class="disclaimer wrapper">
  <div class="inner">
    <div><b>NB!</b> Denne siden er p.t. ikke tilknyttet FHI eller norske myndigheter på noen måte.</div>
    <div class="disclaimer__link"><a target="_blank" href="<%= urls.privacyPolicy %>">Les hvordan dataen du oppgir blir behandlet her!</a></div>
  </div>
</div>