<section id="footer" class="wrapper">
  <div class="inner">
    <div class="content">
      <header><h2>Om tjenesten</h2></header>
      <p>I forbindelse med utbruddet av Covid-19 har mange nordmenn blitt testet for viruset, men grunnet ressursmangler har det overveldende
flertallet ikke blitt testet. Det er derfor antatt at det er store mørketall her i Norge forbindelse med utbruddet.</p>

      <p>Ved hjelp av selvrapportering kan man få et bedre bilde av hvor mange som har symptomer uten å utsette helsearbeidere for potensiell smittefare og uten å bruke opp verdifullt smittevernsutstyr som allerede er mangelvare.
      Vi i Bustbyte, godt hjulpet av andre frivillige, har laget dette verktøyet som et svar på <a href="https://www.aftenposten.no/meninger/debatt/i/P9ALzX/selvrapporteringssystem-for-overvaaking-av-korona-maa-paa-plass-naa-petter-bae-brandtzaeg">denne</a> artikkelen som et forsøk på å kartlegge disse mørketallene.</p>

      <p> Dette er dermed ikke et offisielt verktøy fra myndighetene, og for mer informasjon rundt utbruddet henviser vi til FHI som alltid har oppdatert informasjon.</p>
      <ul class="actions">
        <li><a target="_blank" class="button next" style="cursor: pointer;" href="https://fhi.no">Til fhi.no</a></li>
      </ul>
    </div>
  </div>
</section>
<section class="wrapper style2 copyright">
  <div class="inner" style="margin-bottom: 20px;">
    <a class="icon brands alt fa-github" style="cursor: pointer;" href="https://github.com/BustByte/coronastatus.no" target="_blank"></a>
  </div>
  <div class="inner">Utviklet av <a target="_blank" href="https://bustbyte.no">BustByte AS</a></div>
</section>