<section id="footer" class="wrapper">
  <div class="inner">
    <div class="content">
      <header><h2>Om tjenesten</h2></header>
      <p>Oppdatert info finner du alltid på FHI sine sider.</p>
      <ul class="actions">
        <li><a target="_blank" class="button next" style="cursor: pointer;" href="https://fhi.no">Til fhi.no</a></li>
      </ul>
    </div>
  </div>
</section>
<section class="wrapper style2 copyright">
  <div class="inner" style="margin-bottom: 20px;">
    <a class="icon brands alt fa-github" style="cursor: pointer;" href="https://github.com/BustByte/coronastatus.no" target="_blank"></a>
  </div>
  <div class="inner">Utviklet av <a target="_blank" href="https://bustbyte.no">BustByte AS</a></div>
</section>