<section id="footer" class="wrapper">
  <div class="inner">
    <div class="split">
      <div class="content">
        <header><h2>Om tjenesten</h2></header>
        <p>Oppdatert info finner du alltid på FHI sine sider.</p>
        <ul class="actions">
          <li><a target="_blank" class="button next" style="cursor: pointer;" href="https://fhi.no">Til fhi.no</a></li>
        </ul>
      </div>
      <ul class="contact-icons">
        <li><a class="icon brands alt fa-twitter" style="cursor: pointer;"><span class="label">twitter.com/untitled</span></a></li>
        <li><a class="icon brands alt fa-facebook-f" style="cursor: pointer;"><span class="label">facebook.com/untitled</span></a></li>
        <li><a class="icon brands alt fa-instagram" style="cursor: pointer;"><span class="label">instagram.com/untitled</span></a></li>
        <li><a class="icon solid alt fa-envelope" style="cursor: pointer;"><span class="label">contact@untitled.tld</span></a></li>
      </ul>
    </div>
  </div>
</section>
<section class="wrapper style2 copyright">
  <div class="inner">Utviklet av <a target="_blank" href="https://bustbyte.no">BustByte AS</a></div>
</section>