<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coronastatus</title>
  <% if (locals.metaDescription) { %>
    <meta name="description" content="<%= metaDescription %>">
  <% } %>

  <link href="https://fonts.googleapis.com/css?family=Mada:400,400i,700" rel="stylesheet">
  <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
  <link rel='stylesheet' href='/static/main.css?v=2' type='text/css' media='all' />
  <link rel='stylesheet' href='/static/custom.css?v=2' type='text/css' media='all' />
</head>
