<%
let parts = [];

// If url contains corona, make the rest it white
const name =  baseUrl.replace('corona', '<span style="color: #CAEAE9;" >corona</span>')
%>

<a class="flex flex-row" href="/">
  <img src="/static/images/logo.svg" alt="icon" class="w-20 h-20 hidden sm:block" />
  <div class="flex flex-row items-center" style="color: #F2CC20;">
    <div
      class="flex flex-row flex-no-wrap text-2xl sm:text-3xl font-bold whitespace-no-wrap"
    >
      <%- name %>
    </div>
  </div>
</a>
