<%
let parts = [];

// If url contains corona, make the rest of it yellow
if (baseUrl.includes('corona')) {
  parts = baseUrl.split('corona').map(part => {
    return !part ? 'corona' : `<span style="color: #f7bb00;" >${part}</span>`
  })
// Otherwise make tld including dot yellow
} else {
  parts = baseUrl.split('.');
  parts[parts.length - 1] = `<span style="color: #f7bb00;">.${parts[parts.length - 1]}</span>`
}

const name = parts.join('')
%>

<a class="flex flex-row" href="/">
  <img src="/static/images/logo.svg" alt="icon" class="w-20 h-20 hidden sm:block" />
  <div class="flex flex-row items-center" style="color: #CAEAE9;">
    <div
      class="flex flex-row flex-no-wrap text-2xl sm:text-3xl font-bold whitespace-no-wrap"
    >
      <%- name %>
    </div>
  </div>
</a>

