<% const { baseUrl } = locals; %>

<p class="mt-4 mb-8">
  <a
    class="custom-facebook-button"
    target="_blank"
    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2F<%= baseUrl %>%2F&amp;src=sdkpreparse"
    ><%= __('Share on') %> Facebook <strong></strong></a
  >
</p>
