<div class="share-buttons">
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/nn_NO/sdk.js#xfbml=1&version=v6.0&appId=3109699215720408&autoLogAppEvents=1"></script>
  <div class="fb-share-button" data-href="https://coronastatus.no" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcoronastatus.no%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Del</a></div>
  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Bli med på Norges viktigste dugnad!" data-url="https://coronastatus.no" data-show-count="false">Tweet</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>