server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name YOUR_DOMAIN;

	root /var/www/html;
	index index.html index.htm;

	location / {
	    proxy_pass http://127.0.0.1:7272;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
        proxy_set_header X-Real-IP $remote_addr;
	}
}