<!-- prettier spacer -->

<%- include('partials/header') -%>

<h1><%= __("Aviso de Privacidad") %></h1>
<p class="subtitle">¿Qué datos almacenamos sobre usted y por qué?</p>

<h3>Género</h3>
<p>
  Almacenamos el género para poder decir algo sobre la distribución entre
  hombres. y mujeres con síntomas.
</p>

<h3>Grupos de Edad</h3>
<p>
  Almacenamos grupos de edad para distinguir qué grupos de edad experimentan
  síntomas.
</p>

<h3>Código postal</h3>
<p>
  Para dar al público una idea de cuántas personas muestran síntomas en el área
  donde viven, almacenamos códigos postales. De esta manera podemos mostrar una
  visión general de la cantidad de personas con síntomas específicos en
  diferentes áreas.
</p>

<h3>Estado de la prueba</h3>
<p>
  También guardamos si ha sido examinado y cuáles son los resultados de esta
  prueba. Con esta información podemos calcular el porcentaje de los
  participantes que presentaron síntomas. Mostramos esto en el mapa.
</p>

<h3>Síntomas</h3>
<p>
  Los síntomas que envíe indican si puede estar infectado con el virus Covid-19.
  El momento del inicio de los síntomas también da una indicación de hace cuánto
  tanto tiempo que eres contagioso. Recopilamos estos datos y los visualizamos
  de forma anónima. De esta manera, el público puede obtener una idea de cuán
  grandes son las cifras.
</p>
<div class="border-b border-cvs-red mt-4"></div>
<h3>Cookies</h3>
<p>
  Utilizamos cookies para almacenar datos de participantes en su propio
  navegador. Primero pedimos permiso para esto. Con estas cookies, los
  participantes pueden informar anónimamente Si sus síntomas han disminuido.
</p>

<h3>Borrar datos</h3>
<p>
  Todos los datos almacenados son anónimos y no almacenamos ningún dato personal
  que pueda ser eliminado
</p>

<h3>Compartir datos con el Ministerio de Salud</h3>
<p>Si lo desea, proporcionamos datos anónimos al Ministerio.</p>

<h3>Analítica</h3>
<p>
  Usamos análisis para obtener información sobre el uso del sitio web. Usamos
  <a
    class="text-cvs-red hover:underline"
    href="https://simpleanalytics.com"
    target="_blank"
    >Simple Analytics</a
  >
  para esto: una parte que no almacena datos personales y no coloca cookies.
</p>

<h3>¿Más preguntas?</h3>
<p>
  Contactanos en twitter:
  <a
    class="text-cvs-red hover:underline"
    href="https://twitter.com/coronastatusAR"
    target="_blank"
    >@coronastatusAR</a
  >.
</p>

<%- include('partials/footer') -%>
