<!-- prettier spacer -->

<%- include('partials/header') -%>

<h1><%= __("Privacy Policy") %></h1>
<p class="subtitle">Que dados armazenamos sobre você e por quê?</p>

<h3>Gênero</h3>
<p>
  Armazenamos gênero para poder dizer algo sobre a distribuição entre homens
   e mulheres com sintomas.
</p>

<h3>Grupo de idade</h3>
<p>
  Armazenamos faixas etárias para distinguir quais faixas etárias apresentam sintomas.
</p>

<h3>Código Postal</h3>
<p>
  Para dar ao público uma visão de quantas pessoas apresentam sintomas na área
   onde eles moram, nós armazenamos códigos postais. Desta forma, podemos mostrar uma visão geral do
   número de pessoas com sintomas específicos em diferentes áreas.
</p>

<h3>Status do teste</h3>
<p>
  Também armazenamos se você foi testado e quais são os resultados desse teste. 
  Com essas informações, podemos calcular a porcentagem de participantes
   que mostram sintomas. Exibimos isso em um mapa.
</p>

<h3>Sintomas</h3>
<p>
  Os sintomas que você envia indicam se você pode estar infectado com o Covid-19
   vírus. O momento do início dos sintomas também fornece uma indicação de 
   há quanto tempo você é contagioso. Coletamos esses dados e os visualizamos
   anonimamente. Dessa forma, o público pode obter informações sobre quão grande as figuras são.
</p>
<div class="border-b border-cvs-red mt-4"></div>
<h3>Cookies</h3>
<p>
  Utilizamos cookies para armazenar dados dos participantes em seu próprio navegador. Primeiro pedimos
   permissão para isso. Com esses cookies, os participantes podem denunciar anonimamente
   se seus sintomas diminuíram.
</p>

<h3>Excluir dados</h3>
<p>
  Todos os dados armazenados são anonimizados e não armazenamos dados pessoais que possam
   ser excluídos.
</p>

<h3>Compartilhe dados com o Ministério da Saúde</h3>
<p>Se desejado, fornecemos dados anônimos ao Ministério da Saúde.</p>

<h3>Analytics</h3>
<p>
  Utilizamos análises para obter informações sobre o uso do site. Nós usamos
  <a class="text-cvs-red hover:underline" href="https://simpleanalytics.com" target="_blank">Simple Analytics</a>
  para isso - uma parte que não armazena dados pessoais e não coloca
   cookies.
</p>

<h3>Mais perguntas?</h3>
<p>
  Entre em contato no Twitter:
  <a class="text-cvs-red hover:underline" href="https://twitter.com/coronastatusBR" target="_blank"
    >@coronastatusBR</a
  >.
</p>
