<!-- prettier spacer -->

<%- include('partials/header') -%>

<h1><%= __("Ochrana osobních údajů") %></h1>
<p>Tento dokument vám objasní, jaké informace o vás uchováváme, stejně i důvod jejich uchovávání. Informace používáme pro zobrazování statistických údajů ve formě tabulek, grafů a prezentací na mapových podkladech. Všechny údaje jsou anonymizované.</p>
<h2>Seznam uchovávaných informací</h2>
<h3>Pohlaví</h3>
<p>Údaj ukládáme, abychom věděli ve statistikách vyhodnotit rozdíl mezi pohlavími. Formulář nabízí i možnost neposkytnout tento údaj</p>
<h3>Věková kategorie</h3>
<p>Údaje ukládáme, abychom věděli ve statistikách vyhodnotit zdravotní stav podle věkových kategorií.</p>
<h3>Poštovní směrovací číslo</h3>
<p>Údaj ukládáme, abychom veřejnosti poskytli přehled o tom, kolik lidí má příznaky v oblasti, kde žijí.</p>
<h3>Výsledky testování na přítomnost koronavirů</h3>
<p>Údaj o tom, zda jste byli testován a jaké jsou výsledky testu. Na základě poskytnutých informací počítáme procento účastníků, kteří projeví příznaky.</p>
<h3>Příznaky</h3>
<p>Údaje o tom, jaké máte příznaky přítomnosti viru Covid-19, zda můžete být potenciálně infikován. Datum prvních příznaků naznačuje, jak dlouho můžete být nakažlivý pro vaše okolí. Údaje zpracováváme v kompletně anonymizované podobě. Díky tomu může veřejnost získat přehled o možném neoficiálním počtu nakažených.</p>
<h2>Cookies</h2>
<p>Cookies používáme pro ukládání dat návštěvníků v jejich vlastním prohlížeči. To umožňuje uživatelům se opět přihlásit a aktualizovat změnu svého zdravotního stavu. Před uložením dat vždy žádáme o povolení k jejich používání.</p>
<h2>Vymazání údajů</h2>
<p>Na serveru neuchováváme žádné osobní údaje uživatelů. Jelikož všechny uchovávané údaje jsou plně anonymní, není ani možné požádat o jejich vymazání.</p>
<h2>Analytické údaje</h2>
<p>Pro získání přehledu o používání webové stránky používáme Simple Analytics. Tato služba neuchovává žádné osobní údaje ani nevyužívá cookies. Analytické data jsou veřejně dostupné na https://simpleanalytics.com/coronastatus.cz</a>
<h2>Máte další otázky?</h2>
<p>Kontaktujte nás přes:
  <%- include('partials/contact') -%>
</p>

<%- include('partials/footer') -%>
