<!-- prettier spacer -->

<%- include('partials/header') -%>

<h1><%= __("Privacy Policy") %></h1>
<p class="subtitle">What data do we store about you and why?</p>

<h3>Geschlecht</h3>
<p>
  Wir speichern das Geschlecht um eine statistische Aussage über das Verhältnis
  zwischen Frauen und Männern mit Symptomen treffen zu können.
</p>

<h3>Altersgruppe</h3>
<p>
  Wir speichern die Altersgruppe um unterscheiden wie sich die auftretende
  Symptome auf Altersgrupppen verteilen.
</p>

<h3>Postleitzahl</h3>
<p>
  Um der Öffentlichkeit Einblick in die Anzahl der Menschen mit Symptomen in der
  jeweiligen Gegend zu ermöglichen, speichern wir Postleitzahlen.
</p>

<h3>Test status</h3>
<p>
  Wir speichern auch ob du getestet wurdest und was die Ergebnisse des Tests
  waren. Mit diesen Informationen können wir die Anzahl der Teilnehmer
  berechnen, die Symptome zeigen. Wir zeigen das ebenfalls auf einer Karte.
</p>

<h3>Symptome</h3>
<p>
  Die Symptome die du in deiner Meldung angibst, sind ein Indiz über eine
  mögliche Infektion mit dem Covid-19-Virus. Der zeitliche Verlauf des
  Auftretens der Symptome können ein Indiz zu Zeiträumen mit Ansteckungsgefahr
  darstellen. Wir sammeln diese Daten und bilden sie anonym ab. Auf diese Weise
  kann die Öffentlichkeit daraus Rückschlüsse auf mögliche Infektionszahlen
  ziehen.
</p>
<div class="border-b border-cvs-red mt-4"></div>
<h3>Cookies</h3>
<p>
  Wir nutzen Cookies um Teilnehmer-Daten in ihrem eigenen Browser zu sichern.
  Wir fragen dafür zuerst um Erlaubnis. Mithilfe dieser Cookies können
  Teilnehmer anonym melden, wenn sich ihre Symptome verringern.
</p>

<h3>Datenlöschung</h3>
<p>
  Alle gespeicherte Daten sind anonymisiert und wir speichern keine persönlichen
  Daten die gelöscht werden könnten.
</p>

<h3>Datenfreigabe an Bundesgesundheitsministerium</h3>
<p>
  Falls erwünscht, liefern wir anonyme Daten an das
  Bundesgesundheitsministerium.
</p>

<h3>Analytik</h3>
<p>
  We nutzen Analytik um Einblick in die Nutzung unserer Website zu erhalten. Wir
  verwenden dafür
  <a
    class="text-cvs-red hover:underline"
    href="https://simpleanalytics.com"
    target="_blank"
    >Simple Analytics</a
  >
  - ein Drittanbieter der keine persönlichen Daten speichert und keine Cookies
  setzt.
</p>

<h3>Weitere Fragen</h3>
<p>
  Kontaktiere uns auf Twitter:
  <a
    class="text-cvs-red hover:underline"
    href="https://twitter.com/coronastatusNO"
    target="_blank"
    >@coronastatusNO</a
  >.
</p>

<%- include('partials/footer') -%>
