<!-- prettier spacer -->

<%- include('partials/header') -%>

<h1><%= __("Privacy Policy") %></h1>
<p class="subtitle">Hvilke data gemmer vi om dig, og hvorfor?</p>

<h3>Køn</h3>
<p>
  Vi gemmer køn for at kunne sige noget om fordelingen mellem mænd og kvinder
  med symptomer.
</p>

<h3>Aldersgruppe</h3>
<p>
  Vi gemmer aldersgrupper for at skelne mellem hvilke aldersgrupper, der oplever
  symptomer.
</p>

<h3>Postnummer</h3>
<p>
  For at give offentligheden indsigt i, hvor mange mennesker der viser symptomer
  i området hvor de bor, gemmer vi postnumre. På denne måde kan vi vise oversigt
  over antal mennesker med specifikke symptomer i forskellige områder.
</p>

<h3>Test status</h3>
<p>
  Vi gemmer også om du er blevet testet, og hvilke resultater der er af denne
  test. Med disse oplysninger kan vi beregne procentdelen af personerne    der
  viser symptomer. Vi viser dette på et kort.
</p>

<h3>Symptomer</h3>
<p>
  De symptomer du sender, indikerer om du kan være inficeret med Covid-19
  virussen. Tidspunktet for symptomdebutten giver også en indikation af hvor
  længe har du været smitsom. Vi indsamler disse data og visualiserer dem
  anonymt. På den måde kan offentligheden få indsigt i hvor store tallene måske
  er.
</p>
<div class="border-b border-cvs-red mt-4"></div>
<h3>Cookies</h3>
<p>
  Vi anvender cookies til at gemme dataen i brugerens egen browser. Vi spørger
  først om tilladelse til dette. Med disse cookies kan brugerne anonymt
  rapportere hvis deres symptomer er faldet.
</p>

<h3>Slet Data</h3>
<p>
  Alt gemt data er anonymiseret, og vi gemmer ingen personlig data der kan   
  slettes.
</p>

<h3>Deling af data med det nationale sundhedsvæsen</h3>
<p>Hvis adsprugt, leverer vi dataten til myndighederne.</p>

<h3>Flere spørgsmål?</h3>
<p>
  Kontakt os på Twitter:
  <a
    class="text-cvs-red hover:underline"
    href="https://twitter.com/coronastatusDk"
    target="_blank"
    >@coronastatusDK</a
  >.
</p>

<%- include('partials/footer') -%>
