<!-- prettier spacer -->

<%- include('partials/header') -%>

<h1><%= __("Privacy Policy") %></h1>
<p class="subtitle">Data apa yang kami simpan dan kenapa?</p>

<h3>Jenis kelamin</h3>
<p>
  Kami menyimpan jenis kelamin agar dapat menyimpulkan sesuatu tentang distribusi
  antara laki-laki dan perempuan dengan gejala.
</p>

<h3>Kelompok usia</h3>
<p>
  Kami menyimpan kelompok usia untuk membedakan kelompok usia mana yang sering mengalami gejala.
</p>

<h3>Kode pos</h3>
<p>
  Untuk memberikan masyarakat umum wawasan seberapa banyak orang yang menunjukan gejala di area
  tempat mereka tinggal, kami menyimpan kode pos. Dengan ini kami dapat melihat gambaran jumlah orang
  dengan gejala yang spesifik di daerah yang berbeda.
</p>

<h3>Status tes</h3>
<p>
  Kami juga menyimpan apakah Anda sudah dites dan hasil dari tes tersebut. Dengan
  informasi ini kami dapat menghitung persentase dari peserta yang mengalami gejala.
  Kami menampilkannya dalam peta.
</p>

<h3>Gejala</h3>
<p>
  Gejala yang Anda berikan dapat mengindikasikan apakah Anda terinfeksi virus Covid-19.
  Waktu timbulnya gejala juga memberikan indikasi seberapa lama Anda sudah tertular.
  Kami mengumpulkan data ini dan memvisualisasikannya tanpa nama. Dengan cara ini,
  masyarakat umum mendapatkan wawasan seberapa besar angka sebenarnya.
</p>
<div class="border-b border-cvs-red mt-4"></div>
<h3><em>Cookies</em></h3>
<p>
  Kami menggunakan <em>cookies</em> untuk menyimpan data peserta di browser mereka masing-masing. Pertama kami
  meminta izin pada mereka untuk ini. Dengan <em>cookies</em> ini, peserta dapat secara anonim mengubah data-data mereka
  apabila gejala mereka sudah menurun.
</p>

<h3>Penghapusan data</h3>
<p>
  Seluruh data dianonimkan dan kami tidak menyimpan data pribadi yang dapat dihapus.
</p>

<h3>Pembagian data ke pelayanan kesehatan nasional</h3>
<p>Jika dibutuhkan, kami dapat membagikan data yang teranonimkan ke pelayanan kesehatan nasional.</p>

<h3>Analitik</h3>
<p>
  Kami menggunakan analitik untuk mendapatkan wawasan tentang penggunaan website. Kami menggunakan
  <a class="text-cvs-red hover:underline" href="https://simpleanalytics.com" target="_blank">Simple Analytics</a>
  untuk ini - pihak yang tidak menyimpan data pribadi dan tidak menempatkan <em>cookies</em>.
</p>

<h3>Pertanyaan lebih lanjut?</h3>
<%- include('partials/contact') -%>

<%- include('partials/footer') -%>