<!-- prettier spacer -->

<%- include('partials/header') -%>

<h1><%= __("Privacy Policy") %></h1>
<p class="subtitle">Che dati salviamo su di te e come?</p>

<h3>Sesso</h3>
<p>
  Salviamo i dati sul tuo sesso per sapere qualcosa in merito alla distribuzione tra uomini e donne con sintomi.
</p>

<h3>Età (dato aggregato)</h3>
<p>
  Salviamo in maniera aggregata l'età per distinguere quale range di età riscontra maggiormente i sintomi.
</p>

<h3>Codice d'avviamento postale</h3>
<p>
  Per dare dettagli su quante persone hanno sintomi nell'area dove vivono, salviamo i CAP.
  In questa maniera possiamo mostrare un'immagine del numero di persone con sintomi specifici nelle varie aree.
</p>

<h3>Stato del tampone</h3>
<p>
  Salviamo anche se hai eseguito un tampone e quale è il suo risultato.
  Con questa informazione possiamo calcolare la percentuale dei partecipanti che hanno sintomi.
  Mostriamo questo dato sulla mappa.
</p>

<h3>Sintomi</h3>
<p>
  I sintomi che invii indicano se potresti essere stato infettato dal Covid-19. 
  La tempistica di comparse dei sintomi da inoltre informazioni su per quanto tempo potresti essere stato contagioso.
  Raccogliamo anonimamente questi dati e li visualizzaziamo sulla mappa.
  In questa maniera, chi visità il sito può ottenere informazioni su quanto sia estesa l'infezione.
</p>
<div class="border-b border-cvs-red mt-4"></div>
<h3>Cookies</h3>
<p>
  Usiamo dei cookie per salvare i dati dei partecipanti sul loro browser. Chiediamo prima il permesso per farlo.
  Con questi cookie, i partecipanti possono informarci anonimante se i loro sintomi sono diminuiti.
</p>

<h3>Eliminazione dei dati</h3>
<p>
  Tutti i dati sono anomizzati e non salviamo nessun dato personale che possa aver necessità di essere cancellato. Non salviamo email, informazioni sull'indirizzo ip dell'utente e nessun'altra informazione che possa rendere rintracciabile l'utente. Anche i sistemi di analytics che usiamo sono compliant in tutto ciò e non tracciano l'utente. Inoltre, il codice è disponibile per la visione gratuitamente sulla piattaforma Github. 
</p>

<h3>Condivisione dei dati con l'Istituto Superiore di Sanità</h3>
<p>Se richiesto, saremo in grado di fornire i dati anonomi all'ISS</p>

<h3>Statistiche</h3>
<p>
  Usiamo dei tool di analytics per avere informazioni sull'uso del sito web. Attualmente usiamo
  <a class="text-cvs-red hover:underline" href="https://simpleanalytics.com" target="_blank">Simple Analytics</a> - un servizio che non salva informazioni personali e non inserisce cookie per il tracciamento dell'utente.
</p>

<h3>Hai ancora domande?</h3>
<p>
  Scrivici su Twitter:
  <a class="text-cvs-red hover:underline" href="https://twitter.com/coronastatusIT" target="_blank"
    >@coronastatusIT</a
  >.
</p>

<%- include('partials/footer') -%>