<%- include('partials/header') -%>

<h1><%= __("Privacy Policy") %></h1>
<p>Kokius duomenis apie jus saugome ir kodėl?</p>

<h3>Gender</h3>
<p>
  Mes saugome lytį, kad galėtume pasakyti ką nors apie simptomų pasiskirstymą tarp vyrų ir moterų.
</p>

<h3>Age group</h3>
<p>
  Mes saugome amžiaus grupes, kad atskirtume, kurioms amžiaus grupėms pasireiškia simptomai.
</p>

<h3>Pašto kodas</h3>
<p>
   Visuomenei sužinoti, kiek žmonių simptomai pasireiškia toje vietovėje, kurioje jie gyvena, saugome pašto kodus. Tokiu būdu galime parodyti žmonių, kuriems būdingi specifiniai simptomai, skaičių skirtingose vietose.
</p>

<h3>Testo statusas</h3>
<p>
  Mes taip pat saugojam, ar budo testas ir kokie šio testo rezultatai. Su šia informacija galime apskaičiuoti simptomų turinčių dalyvių procentą. Mes tai rodome žemėlapyje.
</p>

<h3>Simptomai</h3>
<p>
  Jūsų pateikti simptomai rodo, ar galite būti užsikrėtę „Covid-19“ virusu. Simptomų atsiradimo laikas taip pat rodo, kiek ilgai jūs buvote užkrečiamas. Mes renkame šiuos duomenis ir vizualizuojame juos anonimiškai. Tokiu būdu visuomenė gali suprasti, kokie gali būti skaičiai.
</p>

<div class="border-b border-cvs-red mt-4"></div>

<h3>Slapukas (Cookies)</h3>
<p>
  Mes naudojame slapukus tam, kad dalyvio duomenys būtų saugomi jų naršyklėje. Pirmiausia tam paprašome leidimo. Naudodami šiuos slapukus dalyviai gali anonimiškai pranešti, jei jų simptomai sumažėjo.
</p>

<h3>Ištrinti duomenis</h3>
<p>
  Visi saugomi duomenys yra anonimiški ir mes nesaugome jokių asmens duomenų, kuriuos būtų galima ištrinti.
</p>

<h3>Dalinti duomenimis su Sveikatos apsaugos ministerija</h3>
<p>Jei pageidauta, pateiksime SAM anoniminius duomenis.</p>

<h3>Daugiau klausimų?</h3>
<p>
  Susisiekite su mumis per Twitter:
  <a
    class="text-cvs-red hover:underline"
    href="https://twitter.com/coronastatusLT"
    target="_blank"
    >@coronastatusLT</a
  >.
</p>

<%- include('partials/footer') -%>
