<!-- prettier spacer -->

<%- include('partials/header') -%>

<h1><%= __("Privacy Policy") %></h1>
<p>Welke gegevens slaan we over u op en waarom?</p>

<h3>Geslacht</h3>
<p>
  We slaan geslacht op om iets te kunnen zeggen over de verdeling tussen mannen
  en vrouwen met klachten.
</p>

<h3>Leeftijdsgroep</h3>
<p>
  We slaan leeftijdsgroepen op om te onderscheiden welke leeftijdsgroepen
  symptomen ervaren.
</p>

<h3>Postcode</h3>
<p>
  Om het publiek inzicht te geven in hoeveel mensen symptomen vertonen in het
  gebied waar ze wonen, slaan we postcodes op. Op deze manier kunnen we een
  overzicht tonen van het aantal dat symptomen heeft op verschillende gebieden.
</p>

<h3>Test status</h3>
<p>
  We slaan ook op of u bent getest en wat de resultaten zijn van deze test. Met
  deze informatie kunnen wij een percentage berekenen van de deelnemers die
  symptomen vertonen. Dit geven wij weer op een kaart.
</p>

<h3>Symptomen</h3>
<p>
  De symptomen die u indient, geven aan of u mogelijk besmet bent met het
  Covid-19-virus. De timing van wanneer de symptomen begonnen, geeft ook een
  indicatie van hoe lang u al besmettelijk bent. We verzamelen deze gegevens en
  visualiseren deze anoniem. Op deze manier kan het publiek inzicht krijgen in
  hoe groot de cijfers kunnen zijn.
</p>
<div class="border-b border-cvs-red mt-4"></div>
<h3>Cookies</h3>
<p>
  We gebruiken cookies om gegevens van deelnemers op te slaan in hun eigen
  browser. Wij vragen hiervoor eerst toestemming. Met deze cookies kunnen
  deelnemers anoniem laten weten als hun klachten zijn afgenomen.
</p>

<h3>Gegevens verwijderen</h3>
<p>
  Alle opgeslagen gegevens zijn geanonimiseerd en we slaan geen persoonlijke
  gegevens op die kunnen worden verwijderd.
</p>

<h3>Gegevens delen met RIVM</h3>
<p>
  Desgewenst verstrekken wij anonieme gegevens aan het Rijksinstituut voor
  Volksgezondheid en Milieu.
</p>

<h3>Analytics</h3>
<p>
  We gebruiken analytics om inzicht te krijgen in het gebruik van de website. We
  gebruiken daarvoor
  <a href="https://simpleanalytics.io" class="text-cvs-red hover:underline" target="_blank">Simple Analytics</a>
  - een partij die geen persoonsgegevens op slaat en geen cookies plaatst.
</p>

<h3>Vraag je je iets af?</h3>
<p>
  Neem contact op via Twitter:
  <a class="text-cvs-red hover:underline" href="https://twitter.com/coronastatusNL" target="_blank"
    >@coronastatusNL</a
  >.
</p>

<%- include('partials/footer') -%>
