<%- include('partials/header') -%>

<h1><%= __("Privacy Policy") %></h1>
<p>Hvilken data lagrer vi om deg, og hvorfor?</p>

<h3>Kjønn</h3>
<p>
  Vi lagrer kjønn for å kunne si noe om fordelingen mellom menn og kvinner som
  opplever symptomer.
</p>

<h3>Aldersgruppe</h3>
<p>
  Vi lagrer aldersgruppe for å kunne skille på hvilke aldersgrupper som opplever
  symptomer.
</p>

<h3>Postnummer</h3>
<p>
  For å kunne gi offentligheten et innblikk i hvor mange som viser symptomer i
  området der de bor, lagrer vi postnummer. På denne måten kan vi vise en
  oversikt over antall som har symptomer i ulike områder.
</p>

<h3>Teststatus</h3>
<p>
  For å bedre anslå andelen av de som utviser symptomer som blir testet, lagrer
  vi også om du har blitt testet og resultatet av denne testen.
</p>

<h3>Symptomer</h3>
<p>
  Symptomene du sender inn gir en indikator på hvorvidt du kan være smittet av
  Covid-19-viruset. Tidspunkt for når symptomene begynte gir også en indikator
  på hvor lenge du har vært smittefarlig. Vi vil samle disse dataene og
  visualisere dem anonymt. På denne måten kan offentliggheten få et innblikk i
  hvor store mørketallene potensielt kan være.
</p>

<div class="border-b border-cvs-red mt-4"></div>

<h3>Informasjonskapsler (Cookies)</h3>
<p>
  For å nå ut til flest mulig har vi lagt til en knapp for å dele siden på
  Facebook. Dette medfører at informasjonskapsler fra Facebook blir satt i din
  nettleser.
</p>

<h3>Sletting av data</h3>
<p>
  All data som blir lagret er anonymisert, og vi lagrer ingen persondata som kan
  slettes.
</p>

<h3>Deling av data med FHI</h3>
<p>Vi vil overlevere data til Folkehelseinstituttet om de skulle ønske det.</p>

<h3>Lurer du på noe?</h3>
<%- include('partials/contact') -%>

<%- include('partials/footer') -%>
