<!-- prettier spacer -->

<%- include('partials/header') -%>

<h1><%= __("Privacy Policy") %></h1>

<h2>Disclaimer</h2>
<p>
  This website is not affiliated with the government of the Republic of the Philippines or the Department of Health. For official information and guidelines you may visit these following websites: <a href="http://www.covid19.gov.ph"
    title="Official PH COVID-19 Portal" style="font-weight: bold;" class="text-cvs-red hover:underline">PH COVID-19 Portal</a> | <a href="https://www.doh.gov.ph/2019-nCoV" title="Department of Health (DOH)" style="font-weight: bold;" class="text-cvs-red hover:underline">Department of Health (DOH)</a> | <a
    href="https://ncovtracker.doh.gov.ph" title="COVID-19 Case Tracker" style="font-weight: bold;" class="text-cvs-red hover:underline">Case Tracker</a>
</p>

<div style="padding: 10px; margin: 1em 0; border: 2px solid rgba(239, 188, 46, 1); border-radius: 10px; background-color: rgba(239, 188, 46, 0.2);"><span style="font-weight: bold;">Data submitted to this website cannot be used to personally
    identify you.</span><br/>These are not transmitted to any other party, and are only used to display statistics and visualizations on this website.</div>

<br/>
<h2 class="subtitle">What data do we store about you and why?</h2>

<h3>Biological Gender/Sex</h3>
<p>
  Gender data is used to show the distribution of symptoms between males and females. It is not shown in the statistics and visualizations but could be downloaded as part of the dataset.
</p>

<h3>Age group</h3>
<p>
  Age data are collected to show the distribution of symptoms among age groups. It is not shown in the statistics and visualizations but could be downloaded as part of the dataset.
</p>

<h3>Location Information — City/Municipality</h3>
<p>
  Location information is collected to visualize the distribution of symptoms on the map page. You have to personally submit this information and we do not automatically retrieve your data.
</p>

<h3>Test Status</h3>
<p>
  Test Status and results are collected so that we can calculate the percentage of the participants who show symptoms. We display this on a map.
</p>

<h3>Symptoms</h3>
<p>
  The symptoms you submit indicate whether you may be infected with the COVID-19
  virus. The timing of the onset of symptoms also gives an indication of how
  long you've be infected, and might have been contagious. We collect this data and visualize it
  anonymously. This way, the public can gain insight and visualize how big the figures
  can be.
</p>
<div class="border-b border-cvs-red mt-4" style="margin: 2em 0;"></div>
<h3>Cookies</h3>
<p>
  We use cookies to save your health status submissions in your browser. If you agree to the use of cookies, your information is saved and you can change it at a later time. You are also given a unique link to your submission. Please save and take
  note of this to access your submission again.
</p>

<h3>Delete data</h3>
<p>
  All stored data is anonymized and we do not store any personal data that can
  be deleted.
</p>

<h3>Data Sharing</h3>
<p>We do not automatically share the data submitted on this website with any third party. Anonymized data provided for download is available as is.</p>

<h3>Analytics</h3>
<p>
  We use analytics to gain insight into the use of the website. We use
  <a class="text-cvs-red hover:underline" href="https://simpleanalytics.com" target="_blank">Simple Analytics</a>
  for this - a party that does not store personal data and does not place
  cookies.
</p>

<h3>More questions?</h3>
<%- include('partials/contact') -%>

<%- include('partials/footer') -%>
