<!-- prettier spacer -->

<%- include('partials/header') -%>

<h1><%= __("Privacy Policy") %></h1>
<p class="subtitle">Que dados guardamos sobre si e porquê?</p>

<h3>Género</h3>
  Guardamos dados sobre género para nos ser possível dizer algo sobre a 
  distribuição de sintomas entre os diferentes géneros.
<p>
  
</p>

<h3>Faixa etária</h3>
<p>
  Guardamos dados sobre a faixa etária para distinguir quais as faixas 
  etárias que exibem sintomas.
</p>

<h3>Código postal</h3>
<p>
  Para darmos ao público informação acerca do número de pessoas infetadas 
  na sua área de residência, guardamos dados sobre códigos postais. Deste 
  modo, podemos exibir um apanhado do número de pessoas com sintomas 
  específicos em diferentes áreas.
</p>

<h3>Testes</h3>
<p>
  Também guardamos dados sobre se foi testado e quais os resultados do teste. 
  Com esta informação, podemos calcular a percentagem de participantes que 
  demonstram sintomas. Exibimos esta informação num mapa.
</p>

<h3>Sintomas</h3>
<p>
  Os sintomas que submeter indicam se pode ou não estar infetado com o vírus 
  Covid-19. Informação sobre quando apareceram sintomas também indica há 
  quanto tempo pode contagiar as pessoas à sua volta. Colecionamos estes dados 
  anonimamente. Deste modo, o público tem uma ideia de quão grandes podem ser 
  os números.
</p>
<div class="border-b border-cvs-red mt-4"></div>
<h3>Cookies</h3>
<p>
  Utilizamos cookies para armazenar os dados dos participantes no seu próprio 
  browser. Com estes cookies, os participantes podem reportar se os seus 
  sintomas diminuírem.
</p>

<h3>Apagar dados</h3>
<p>
  Todos os dados armazenados são anónimos e não armazenamos nenhuns dados 
  pessoais que possam ser apagados.
</p>

<h3>Partilhar dados com o Serviço Nacional de Saúde</h3>
<p>Se desejar, podemos partilhar os seus dados anonimamente com o SNS.</p>

<h3>Estatísticas</h3>
<p>
  Utilizamos estatística para obter dados sobre a utilização do website. Para 
  esse efeito, utilizamos 
  <a class="text-cvs-red hover:underline" href="https://simpleanalytics.com" target="_blank">Simple Analytics</a>
  - uma entidade que não armazena dados pessoais nem tem cookies.
</p>

<h3>Mais perguntas?</h3>
<p>
  Contacte-nos no Twitter:
  <a class="text-cvs-red hover:underline" href="https://twitter.com/coronastatusPT" target="_blank"
    >@coronastatusPT</a
  >.
</p>

<%- include('partials/footer') -%>
