<!-- prettier spacer -->

<%- include('partials/header') -%>

<h1><%= __("Privacy Policy") %></h1>
<p class="subtitle">Ce informatii personale salvam si de ce?</p>

<h3>Sexul</h3>
<p>
  Salvam informatii referitoare la sex pentru a putea vedea care este distributia
    dintre barbati si femei cu simptome.
</p>

<h3>Grupe de varsta</h3>
<p>
  Salvam grupele de varsta pentru a distinge diferentele simpomatice intre diferitele grupe de varsta.
</p>

<h3>Cod postal</h3>
<p>
  Pentru a face publica informatia referitoare la numarul oamenilor care prezinta
  simptome in zonele in care locuiesc, salvam codul postal. In acest fel putem afisa
  un rezumat al numarului de oameni cu simptome specifice in zone diferite.
</p>

<h3>Status testare</h3>
<p>
  De asemena, slavam informatia ca ai fost testat si rezultatul testarii.
  Cu ajutorul acestor date putem calcula procentajul participantilor care
  afiseaza simptome si le aratam pe harta.
</p>

<h3>Simptome</h3>
<p>
  Simptomele pe care le introduci indica probabilitatea infectarii cu noul
  corona virusul (SARS-Cov-2). Perioada de timp de la primele simptome indica
  si de cat timp esti posibil contagios. Colectam informatia asta si o vizualizam
  in mod anonim.  In acest fel, publicul larg e constientizat in legatura cu numarul
  realist de infectari.
</p>
<div class="border-b border-cvs-red mt-4"></div>
<h3>Cookies</h3>
<p>
  Folosim Cookies pentru a stoca datele participantilor in browser-ul lor.
  Inainte de a le stoca, cerem permisiunea. Cu aceste Cookies, participantii
  pot raporta in mod anonim daca simptomele lor sau ameliorat.
</p>

<h3>Stergerea datelor</h3>
<p>
  Toatele informatiile stocate sunt anonimizate si nu stocam date personale care
  ar putea fi sterse.
</p>

<h3>Prelucrea datelor de catre Ministerul Sanatatii</h3>
<p>La cerere, datele anonimizate pot fi date Ministerului Sanatatii.</p>

<h3>Analize</h3>
<p>
  Folosim analizele pentru a veadea cum este folosit website-ul nostru. Folosim
  <a
    class="text-cvs-red hover:underline"
    href="https://simpleanalytics.com"
    target="_blank"
    >Simple Analytics</a
  >
  pentru asta - o parte terta care nu salveaza date personale si care nu stocheaza Cookies.
</p>

<h3>Mai multe intrebari?</h3>
<p>
  Contacteaza-ne pe Twitter:
  <a
    class="text-cvs-red hover:underline"
    href="https://twitter.com/coronastatusRO"
    target="_blank"
    >@coronastatusRO</a
  >.
</p>

<%- include('partials/footer') -%>
