<!-- prettier spacer -->

<%- include('partials/header') -%>

<h1><%= __("Privacy Policy") %></h1>
<p class="subtitle">Vilken data sparar vi och varför?</p>

<h3>Kön</h3>
<p>
  Vi lagrar information om kön för att kunna säga något om fördelningen mellan män
  och kvinnor bland de som upplever symptom.
</p>

<h3>Åldersgrupp</h3>
<p>
  Vi lagrar information om åldersgrupp för att kunna se skillnader i upplevda symptom hos olika åldersgrupper.
</p>

<h3>Postnummer</h3>
<p>
  För att kunna ge allmänheten insyn i hur många personer som uppvisar symptom
  i området där de bor så lagrar vi postnummer. På det viset kan vi visa en översikt
  över antalet personer med specifika symptom i olika områden.
</p>

<h3>Teststatus</h3>
<p>
  För att kunna visa andelen av de personer med symptom som har blivit testade,
  så lagrar vi information om huruvida du blivit testad och resultatet av testet.
</p>

<h3>Symptom</h3>
<p>
  Symptomen du fyller i ger en indikation på om du kan vara smittad av
  SARS-CoV-2 viruset. Tidpunkten för när symptomen först uppvisades ger
  också en en indikation på hur länge du varit smittbärare. Vi samlar in
  och sparar den här anonymiserade datan för att kunna visualisera den.
  På så sätt kan allmänheten få en inblick i hur stort mörkertalet kan
  vara.

</p>
<div class="border-b border-cvs-red mt-4"></div>
<h3>Kakor / cookies</h3>
<p>
  Vi använder kakor för att spara användardata i användarens egen webbläsare.
  Vi ber om tillåtelse innan något sparas. Med hjälp av kakorna kan användaren
  själv anonymt rapportera förändringar i sitt hälsotillstånd.
</p>

<h3>Radera din data</h3>
<p>
  All data som sparas är anonymiserad. Vi sparar alltså ingen persondata som kan raderas.

</p>

<h3>Delning av data med Folkhälsomyndigheten</h3>

<p>Vi kommer överlämna datan till Folkhälsomyndigheten, om de så önskar.</p>


<h3>Har du fler frågor?</h3>
<p>
  Skicka ett mejl till
  <a class="text-cvs-red hover:underline" href="mailto:covid19@scilifelab.se">covid19@scilifelab.se</a>.
</p>

<%- include('partials/footer') -%>
