<!-- prettier spacer -->

<%- include('partials/header') -%>

<h1><%= __("Ochrana súkromia") %></h1>
<p>Tento dokument vám objasní, aké informácie o vás uchovávame, rovnako aj dôvod ich uchovávania. Informácie používame na zobrazovanie štatistických údajov vo forme tabuliek, grafov a prezentácií na mapových podkladoch. Všetky údaje sú anonymizované.</p>
<h2>Zoznam uchovávaných informácií</h2>
<h3>Pohlavie</h3>
<p>Údaj ukladáme, aby sme vedeli v štatistikách vyhodnotiť rozdiel medzi pohlaviami.</p>
<h3>Veková kategória</h3>
<p>Údaje ukladáme, aby sme vedeli v štatistikách vyhodnotiť zdravotný stav podľa vekových kategórií.</p>
<h3>Poštové smerovacie číslo</h3>
<p>Údaj ukladáme, aby sme verejnosti poskytli prehľad o tom, koľko ľudí má príznaky v oblasti, kde žijú.</p>
<h3>Výsledky testovania na prítomnosť koronavírusu</h3>
<p>Údaj o tom, či ste boli testovaný a aké sú výsledky testu. Na základe poskytnutých informácií počítame percento účastníkov, ktorí prejavia príznaky.</p>
<h3>Symptómy</h3>
<p>Údaje o tom, aké máte symptómy prítomnosti vírusu Covid-19, či môžete byť potenciálne infikovaný. Dátum prvých príznakov naznačuje, ako dlho môžete byť nákazlivý pre vaše okolie. Údaje spracúvame v kompletne anonymizovanej podobe. Vďaka tomu môže verejnosť získať prehľad o možnom neoficiálnom počte nakazených.</p>
<h2>Cookies</h2>
<p>Cookies používame na ukladanie údajov návštevníkov v ich vlastnom prehliadači. To umožňuje používateľom sa opäť prihlásiť a aktualizovať zmenu svojho zdravotného stavu. Pred uložením údajov vždy žiadame o povolenie na ich používanie.</p>
<h2>Vymazanie údajov</h2>
<p>Na serveri neuchovávame žiadne osobné údaje používateľov. Keďže všetky uchovávané údaje sú plne anonymizované, nie je ani možné požiadať o ich vymazanie.</p>
<h2>Analytické údaje</h2>
<p>Na získanie prehľadu o používaní webovej stránky používame <a href="https://simpleanalytics.com" target="_blank">Simple Analytics</a>. Táto služba neuchováva žiadne osobné údaje ani nevyužíva cookies.
<h2>Máte ďalšie otázky?</h2>
<p>Kontaktuje nás na: <a href="mailto:kontakt@coronastatus.sk" target="_blank">kontakt@coronastatus.sk</a>.</p>

<%- include('partials/footer') -%>
