<!-- prettier spacer -->

<%- include('partials/header') -%>

<h1><%= __("Gizlilik Politikası") %></h1>
<p class="subtitle">Hakkınızda hangi bilgileri neden kaydediyoruz?</p>

<h3>Cinsiyet</h3>
<p>
    Semptom gösteren kadın ve erkek dağılımı hakkında, yorum yapabilmek için
    cinsiyet bilgisini kaydediyoruz.
</p>

<h3>Yaş grubu</h3>
<p>
    Yaş gruplarını; semptom gösterenleri, yaş grubuna göre ayırabilmek için
    kaydediyoruz.
</p>

<h3>Posta kodu</h3>
<p>
    Posta kodlarını, semptom gösterenlerin lokasyona göre dağılımlarını gösterebilmek
    için kaydediyoruz. Böylece farklı lokasyonlardaki belirli bir semptom
    gösterenlerin sayısını gösterebiliyoruz.
</p>

<h3>Test durumu</h3>
<p>
    Test yaptırıp yaptırmadığınızı ve testleriniz sonucunu da kaydediyoruz. Bu
    bilgiyle semptom gösteren katılımcıların yüzdesini hesaplayabiliyoruz. Bunu
    harita üzerinde gösteriyoruz.
</p>

<h3>Semptomlar</h3>
<p>
    Bildirdiğiniz semptomlar Covid-19 virüsü taşıyıp taşımadığınızı gösterir.
    Semptomların ortaya çıkış zamanı, ne süredir virüse sahip olduğunuz hakkında
    da bilgi verir. Bu bilgileri toplayıp anonim olarak görselleştiriyoruz.
</p>
<div class="border-b border-cvs-red mt-4"></div>
<h3>Çerezler</h3>
<p>
    Çerezleri katılımcı bilgilerinini kendi tarayıcılarında kaydetmek için
    kullanıyoruz. Bunun için önce izninizi istiyoruz. Bu çerezler ile katılımcılar,
    eğer semptomları azalırsa bildirebilirler.
</p>

<h3>Veri silinmesi</h3>
<p>
    Kaydedilen tüm bilgiler anonimdir.Kişisel silinebilir herhangi bir bilgi
    kaydetmiyoruz.
</p>

<h3>Ulusal Sağlık Sistemi ile veri paylaşımı</h3>
<p>
    İstendiği taktirde Ulusal Sağlık Sistemine anonim veri sağlıyoruz.
</p>

<h3>İstatistik ve raporlama</h3>
<p>
    Website hakkında bilgi edinmek için istatistik ve raporlama araçlarını
    kullanıyoruz. Bunun için
    <a class="text-cvs-red hover:underline" href="https://simpleanalytics.com" target="_blank">Simple Analytics</a>'i kullanıyoruz.
    Bu eklenti hiçbir şekilde veri kaydetmez veya çerez yerleştirmez.
</p>

<h3>Hala sorun mu var?</h3>
<p>
    Bize Twitter'dan ulaş:
    <a class="text-cvs-red hover:underline" href="https://twitter.com/coronastatusNL"
        target="_blank">@coronastatusNL</a>.
</p>

<%- include('partials/footer') -%>