<!-- prettier spacer -->

<%- include('partials/header') -%>

<h1><%= __("Політики приватності") %></h1>
<p class="subtitle">Які дані про вас ми збираємо і для чого?</p>

<h3>Стать</h3>
<p>
  Ми зберігаємо стать, щоб зрозуміти розподіл між симптомами у чоловіків і жінок.
</p>

<h3>Вікові групи</h3>
<p>
  Ми зберігаємо групи, щоб краще зрозуміти розподіл симптом між віковими категоріями.
</p>

<h3>Індес</h3>
<p>
  Ми даємо громадськості розуміння скільки людей мають симптоми у районі, в якому вони проживають.
  Тому ми зберігаємо індекси. Таким чином ми можемо рахувати кількість інфікованих у районі
</p>

<h3>Статус тесту</h3>
<p>
  We also save whether you have been tested and what the results of this test
  are. With this information we can calculate the percentage of the participants
  who show symptoms. We display this on a map.
</p>

<h3>Симптоми</h3>
<p>
  Симптоми, які ви звітуєте впливають на те чи ви були інфіковані Covid-19.
  Час діагностування симптомів допомагає нам зрозуміти, як довго ми були інфіковані.
  Ми збираємо і візуалізуємо ці дані анонімно.
  Таким чином, громадськість може дізнатися більше наскільки велике число інфікованих.
</p>
<div class="border-b border-cvs-red mt-4"></div>
<h3>Куки</h3>
<p>
  Ми використовуємо куки, щоб зберегти дані про особу на їх ПК. Спочатку ми запитуємо дозвіл на це.
  Використовуючі ці куки, учасники можу анонімно звітувати якщо їхні симптоми погіршились.
</p>

<h3>Видалити дані</h3>
<p>
  Всі збережні дані анонімні і ми не зберігаємо персональні дані, які можуть бути видалені.
</p>

<h3>Share data with National Health Service</h3>
<p>If desired, we provide anonymous data to the NHS.</p>

<h3>Аналітика</h3>
<p>
  Ми використовуємо аналітику, щоб зрозуміти використання вебсайту. Ми використовуємо
  <a class="text-cvs-red hover:underline" href="https://simpleanalytics.com" target="_blank">Simple Analytics</a>
  для цього - сервіс, який не зберігає дані про вас.
</p>

<h3>Більше запитань?</h3>
<p>
  Запитай нас у Twitter:
  <a class="text-cvs-red hover:underline" href="https://twitter.com/coronastatusUA" target="_blank"
    >@coronastatusUA</a
  >.
</p>
