<!DOCTYPE html>
<html lang="no">
  <head>
    <%- include('partials/head') -%>
  </head>
  <body>
    <%- include('partials/disclaimer') -%>
    <%- include('partials/menu') -%>
    <%- include('partials/hamburger-menu') -%>
    <div id="page-wrapper">
      <section id="main" class="wrapper">
        <div class="inner privacy-policy">
          <h1>Finner ikke siden</h1>
          <p class="subtitle">Vi kan ikke finne siden eller tjenesten du etterspør.</p>
          <p>
            Koblingen du klikket kan være ødelagt, eller siden kan ha blitt
            fjernet.
          </p>
        </div>
      </section>
    </div>
    <script src="/static/hamburger-menu.js"></script>
  </body>
</html>
