<!DOCTYPE html>
<html lang="no">
  <%- include('partials/head') -%>
  <body>
    <%- include('partials/disclaimer') -%>

    <div id="page-wrapper">
      <section id="main" class="wrapper style2">
        <div class="inner privacy-policy">
          <header class="major special">
            <h1>Finner ikke siden</h1>
          </header>
          <h3>Vi kan ikke finne siden eller tjenesten du etterspør.</h3>
          <p>
            Koblingen du klikket kan være ødelagt, eller siden kan ha blitt
            fjernet.
          </p>
        </div>
      </section>
    </div>
  </body>
</html>
