<!DOCTYPE html>
<html lang="no">
    <head>
        <%- include('partials/head') -%>
    </head>
<body>
    <%- include('partials/disclaimer') -%>
    <div id="page-wrapper">
        <section id="main" class="wrapper style2">
            <div class="inner privacy-policy">
                <header class="major special">
                    <h1>Noe Gikk Galt!</h1>
                </header>
                <h3>Her har det skjedd noe galt. </h3>
                <p>
                    <p>Send en mail til
                        <a href="mailto:kontakt@bustbyte.no">kontakt@bustbyte.no</a>
                        hvis du ikke finner løsningen på problemet.</p>
                </p>
            </div>
        </section>
    </div>
</body>

</html>
