<!DOCTYPE html>
<html lang="no">
<%- include('partials/head') -%>
<body>
  <div id="page-wrapper">
    <section id="main" class="wrapper style2">
      <div class="inner">
        <header class="major special">
          <h1>Coronastatus</h1>
          <% if(locals.smsVerificationSuccess) {%>
            <div class="alert alert-success" role="alert">
              Takk for ditt svar! Gjerne tips venner og kjente om denne siden, så bidrar dere til å kartlegge den faktiske statusen i Norge.
            </div>
          <% } %>
          <% if(locals.smsSendingFailed) {%>
            <div class="alert alert-danger" role="alert">
              Beklager, noe gikk galt under utsending av SMS. Vennligst prøv igjen senere.
            </div>
          <% } %>
          <% if(locals.didNotAcceptPrivacyPolicy) {%>
            <div class="alert alert-danger" role="alert">
              Du må godkjenne personvernerklæringen for å rapportere dine data.
            </div>
          <% } %>
          <h2 class="slogan">Rapporter din helsetilstand</h2>
          <p><strong>NB! Denne siden er p.t. ikke tilknyttet FHI eller norske myndigheter på noen måte. Les hvordan dataen du oppgir blir behandlet <a href="/personvern">her!</a></strong></p>
          <p>Mørketallene på smittede er store. Denne nettsiden har som mål å få en bedre oversikt over spredning av coronaviruset. Nettsiden er laget i dugnadsånd av et lite konsulentselskap. Dette er ikke en offisiell nettside fra norske myndigheter.</p>
          <p>Vi ber alle om å fylle inn feltene under, uavhengig om du har symptomer eller ikke.</p>
        </header>
        <div class="row gtr-200">
          <div class="col-12">
            <form method="post" action="/">
              <div class="row gtr-uniform">
                <div class="col-12">
                  <label for="phone-number">Telefonnummer</label>
                  <p class="info">Vennligst ikke bruk samme telefonnummer for flere personer.</p>
                  <input required type="tel" pattern="[0-9]{8}" name="phone-number" id="phone-number" placeholder="99123456">
                </div>
                <div class="col-12">
                  <label for="birth-year">Fødselsår</label>
                  <select required name="birth-year" id="birth-year">
                    <option value="" disabled selected>- Fødselsår -</option>
                    <% for(var i=2020; i>1909; i--) {%>
                      <option value="<%= i %>"><%= i %></option>
                    <% } %>
                  </select>
                </div>
                <div class="col-12">
                  <label for="postal-code">Postnummer</label>
                  <input required type="text" pattern="[0-9]{4}" name="postal-code" id="postal-code" placeholder="1234">
                </div>
                <div class="col-12">
                  <label>Biologisk kjønn</label>
                </div>
                <div class="col-12 col-12-small reduced-form-padding">
                  <input required type="radio" id="gender-female" name="gender" value="female">
                  <label for="gender-female">Kvinne</label>
                </div>
                <div class="col-12 col-12-small reduced-form-padding">
                  <input required type="radio" id="gender-male" name="gender" value="male">
                  <label for="gender-male">Mann</label>
                </div>
                <div class="col-12">
                  <label>Har du vært i utlandet de siste to ukene?</label>
                </div>
                <div class="col-12 col-12-small reduced-form-padding">
                  <input required type="radio" id="been-abroad-yes" name="been-abroad" value="yes">
                  <label for="been-abroad-yes">Ja</label>
                </div>
                <div class="col-12 col-12-small reduced-form-padding">
                  <input required type="radio" id="been-abroad-no" name="been-abroad" value="no">
                  <label for="been-abroad-no">Nei</label>
                </div>
                <div class="col-12">
                  <label>Har du blitt testet for COVID-19?</label>
                </div>
                <div class="col-12 col-12-small reduced-form-padding">
                  <input required type="radio" id="been-tested-yes" name="been-tested" value="yes" onclick="changeTestResultDisplay(true)">
                  <label for="been-tested-yes">Ja</label>
                </div>
                <div class="col-12 col-12-small reduced-form-padding">
                  <input required type="radio" id="been-tested-no" name="been-tested" value="no" onclick="changeTestResultDisplay(false)">
                  <label for="been-tested-no">Nei</label>
                </div>
                <div id="test-result-question" class="row gtr-uniform" style="display: none">
                  <div class="col-12">
                    <label>Hva var svaret på testen?</label>
                  </div>
                  <div class="col-12 col-12-small reduced-form-padding">
                    <input type="radio" id="test-response-positive" name="test-response" value="positive">
                    <label for="test-response-positive">Positivt</label>
                  </div>
                  <div class="col-12 col-12-small reduced-form-padding">
                    <input type="radio" id="test-response-negative" name="test-response" value="negative">
                    <label for="test-response-negative">Negativt</label>
                  </div>
                  <div class="col-12 col-12-small reduced-form-padding">
                    <input type="radio" id="test-response-pending" name="test-response" value="pending">
                    <label for="test-response-pending">Venter på svar</label>
                  </div>
                </div>
                <div class="col-12">
                  <label>Symptomer du har hatt</label>
                  <p class="info">Ikke velg noen dersom du ikke har hatt symptomer</p>
                </div>
                <div class="col-12 reduced-form-padding">
                  <input type="checkbox" id="symptom-cough" name="symptom-cough">
                  <label for="symptom-cough">Tørrhoste</label>
                </div>
                <div class="col-12 reduced-form-padding">
                  <input type="checkbox" id="symptom-fatigue" name="symptom-fatigue">
                  <label for="symptom-fatigue">Slitenhet eller utmattelse</label>
                </div>
                <div class="col-12 reduced-form-padding">
                  <input type="checkbox" id="symptom-fever" name="symptom-fever">
                  <label for="symptom-fever">Feber</label>
                </div>
                <div class="col-12 reduced-form-padding">
                  <input type="checkbox" id="symptom-heavy-breath" name="symptom-heavy-breath">
                  <label for="symptom-heavy-breath">Tung pust</label>
                </div>
                <div class="col-12 reduced-form-padding">
                  <input type="checkbox" id="symptom-muscle-pain" name="symptom-muscle-pain">
                  <label for="symptom-muscle-pain">Muskelsmerter</label>
                </div>
                <div class="col-12 reduced-form-padding">
                  <input type="checkbox" id="symptom-diarrhea" name="symptom-diarrhea">
                  <label for="symptom-diarrhea">Diaré</label>
                </div>
                <div class="col-12 reduced-form-padding">
                  <input type="checkbox" id="symptom-headache" name="symptom-headache">
                  <label for="symptom-headache">Hodepine</label>
                </div>
                <div id="symptom-start-question" class="col-12" style="display: none;">
                  <label for="symptom-start">Når startet symptomene?</label>
                  <input type="date" name="symptom-start" id="symptom-start">
                </div>
                <div class="col-12">
                  <label>Personvernerklæring</label>
                  <p class="info">Vi passer godt på dine helseopplysninger. Vår personvernerklæring finner du <a target="_blank" href="/personvern">her</a>.</p>
                </div>
                <div class="col-12 reduced-form-padding">
                  <input required type="checkbox" id="accept-privacy-policy" name="accept-privacy-policy">
                  <label for="accept-privacy-policy" class="normal-font">Jeg godtar at mine data lagres i henhold til personvernerklæringen</label>
                </div>
                <div class="col-12">
                  <ul class="actions">
                    <li>
                      <input type="submit" value="Lagre">
                    </li>
                  </ul>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <%- include('partials/footer') -%>
  </div>
  <script>
    // Remove query params from url
    window.history.replaceState({}, document.title, window.location.pathname);
  </script>
  <script src="/static/form.js"></script>
</body>
</html>
