<!DOCTYPE html>
<html lang="no">
<head>
  <%- include('partials/head') -%>
</head>
<body>
  <%- include('partials/disclaimer') -%>
  <div id="page-wrapper">
    <section id="main" class="wrapper style2">
        <div class="inner privacy-policy">
            <header class="major special">
                <h1>Frivillige utviklere:</h1>
            </header>
            <h3>Ola Normann</h3>
            <p>Ola jobber for Bedrift AS, og koder best når har har tilgang på grovbrød og brunost</p>

        </div>
    </section>
  </div>
</body>
</html>
