<!DOCTYPE html>
<html lang="no">
<head>
  <%- include('partials/head') -%>
</head>
<body>
  <%- include('partials/disclaimer') -%>
  <%- include('partials/menu') -%>
    <div id="page-wrapper">
      <section id="main" class="wrapper">
        <div class="inner privacy-policy">
            <h1>Bidragsytere</h1>
            <p class="with-top-margin">Denne nettsiden er laget med god hjelp fra frivillige. I tilfeldig rekkefølge:</p>
            <ul>
              <li>Kristoffer Sundmyhr</li>
              <li>Jan Magne Andersen</li>
              <li>Arild Øren Wanvik</li>
              <li>Marius Kalvø</li>
              <li>Rina Andriana</li>
              <li>William Benjamin Rode</li>
              <li>Kai H T Mortensen-Langhaug</li>
              <li><a target="_blank" href="https://github.com/BustByte/coronastatus.no/graphs/contributors">...og flere</a></li>
            </ul>
            <p>Koden for nettsiden finnes <a href="https://github.com/BustByte/coronastatus.no">her</a>.
        </div>
    </section>
    <%- include('partials/footer') -%>
  </div>
</body>
</html>
