<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head') -%>
</head>
<body>
  <div id="page-wrapper">
    <section id="main" class="wrapper">
      <div class="inner">
        <div class="info-box-row">
          <div class="info-box info">
            <div class="info-box__content">
              <img alt="Logo" src="/static/<%= imageSubfolder %>/logo.png">
              <h2>Coronastatus</h2>
              <p>
                Coronastatus is an attempt to capture and map reports of symptoms of COVID-19 in various EU countries. Please see below to see if your country is supported yet.
              </p>
              <p>If your country isn't listed yet, you can get started {how?}</p>
            </div>
          </div>
        </div>
        <div class="info-box-row">
          <div class="info-box info">
            <h4>Netherlands</h4>
           <img class="flag" alt="Netherlands" src="/static/flags/flag-nl.png">
            <a href="https://coronastatus.nl">Coronastatus in the Netherlands</a>
          </div>
          <div class="info-box info">
            <h4>Norway</h4>
            <img class="flag" alt="Norway" src="/static/flags/flag-no.png">
            <a href="https://coronastatus.no">Coronastatus in Norway</a>
          </div>
        </div>
        <div class="info-box-row">
          <div class="info-box info">
            <%- include('partials/share') -%>
            <p>
              Flags courtesy of <a href="https://www.iconfinder.com/iconsets/world-flag-icons">world-flag-icons</a> by <a href="http://vathanx.deviantart.com/">vathanx</a>. Licensed under <a href="https://creativecommons.org/licenses/by-nc/3.0/nl/deed.en_GB">Attribution-NonCommercial 3.0 Netherlands</a>.
            </p>
          </div>
        </div>
      </div>
    </section>
    <%- include('partials/footer') -%>
  </div>
</body>
</html>
