<!DOCTYPE html>
<html lang="no">
  <head>
  <%- include('partials/head') -%>
  </head>
  <body>
    <%- include('partials/disclaimer') -%>
    <%- include('partials/menu') -%>
    <div id="page-wrapper">
      <section id="main" class="wrapper">
        <div class="inner privacy-policy">
          <h1>Personvernerklæring</h1>
          <p class="subtitle">Hvilken data lagrer vi om deg, og hvorfor?<p>
          <h3>Kjønn</h3>
          <p>Vi lagrer kjønn for å kunne si noe om fordelingen mellom menn og kvinner som opplever symptomer. </p>
          <h3>Aldersgruppe</h3>
          <p>Vi lagrer aldersgruppe for å kunne skille på hvilke aldersgrupper som opplever symptomer. </p>
          <h3>Postnummer</h3>
          <p>
            For å kunne gi offentligheten et innblikk i hvor mange som viser symptomer i området der de bor, lagrer vi postnummer. På denne måten kan vi vise en oversikt
            over antall som har symptomer i ulike områder. 
          </p>
          <h3>Teststatus</h3>
          <p>
            For å bedre anslå andelen av de som utviser symptomer som blir testet, lagrer vi også om du har blitt testet og resultatet av denne testen.
          </p>
          <h3>Symptomer</h3>
          <p>
            Symptomene du sender inn gir en indikator på hvorvidt du kan være smittet av Covid-19-viruset. Tidspunkt for når symptomene begynte gir også en
            indikator på hvor lenge du har vært smittefarlig. Vi vil aggregere opp disse dataene og visualisere dem anonymt. På denne måten kan offentliggheten
            få et innblikk i hvor store mørketallene potensielt kan være.  
          </p>
          <h2>Informasjonskapsler (Cookies)</h2>
          <p>Vi benytter ikke informasjonskapsler på denne siden.</p>
          <h2>Sletting av data</h2>
          <p>All data som blir lagret er anonymisert, og vi lagrer ingen persondata som kan slettes.</p>
          <h2>Lurer du på noe?</h2>
          <p>Send en mail til <a href="mailto:kontakt@bustbyte.no">kontakt@bustbyte.no</a>.</p>
        </div>
      </section>
    </div>
    <script>
      // Remove query params from url
      if (window.history.replaceState) {
        window.history.replaceState({}, document.title, window.location.pathname);
      }
    </script>
  </body>
</html>
