<!DOCTYPE html>
<html lang="no">
<%- include('partials/head') -%>
<body>
  <div id="page-wrapper">
    <section id="main" class="wrapper style2">
      <div class="inner">
        <header class="major special">
          <h2>Verifiser telefonnummer</h2>
          <p>Vi har sendt deg en SMS på <%= phoneNumber %>. Vennligs bekreft ditt telefonnummer ved å fylle inn koden under.</p>
        </header>
        <div class="row gtr-200">
          <div class="col-12">
            <form method="post" action="/sms">
              <% if(invalidVerificationCode) {%>
                <div class="alert alert-danger" role="alert">
                  Koden du skrev inn var ugyldig. Vennligst prøv igjen.
                </div>
              <% } %>
              <div class="row gtr-uniform">
                <div class="col-12">
                  <label for="verification-code">Verifiseringskode</label>
                  <input type="number" name="verification-code" id="verification-code" placeholder="123456">
                </div>
                <input type="hidden" name="phone-number" id="phone-number" value="<%= phoneNumber %>">
                <div class="col-12">
                  <ul class="actions">
                    <li>
                      <input type="submit" value="Bekreft">
                    </li>
                  </ul>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('partials/footer') -%>
  </div>
  <script>
    // Remove query params from url
    window.history.replaceState({}, document.title, window.location.pathname);
  </script>
</body>
</html>
