label {
  font-variant: all-small-caps;
  font-size: 1.25rem;
  margin-bottom: 0.2rem;
}

header.major {
  margin-bottom: 0;
}

header.major p:not(:last-child) {
  margin-bottom: 15px;
}

h2.slogan {
  margin-bottom: 70px;
}

.row.gtr-uniform .reduced-form-padding {
  padding-top: 0.75rem;
}

p.info {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  font-style: italic;
  margin-bottom: 0.5rem;
}
