label {
  font-variant: all-small-caps;
  font-size: 1.25rem;
  margin-bottom: 0.2rem;
}

.with-top-margin {
  margin-top: 0.75rem;
}

header.major {
  margin-bottom: 0;
}

header.major p:not(:last-child) {
  margin-bottom: 15px;
}

.row.gtr-uniform .reduced-form-padding {
  padding-top: 0.75rem;
}

p.info {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.privacy-policy p {
  margin-bottom: 1rem;
}

.privacy-policy h2 {
  color: black;
}

input[type='checkbox'] + label.normal-font::before {
  margin-top: 0;
}

input[type='checkbox'] + label.normal-font {
  font-variant: normal;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 3px;
}

.disclaimer {
  background-color: #ffeb3b;
}

.disclaimer.wrapper {
  padding: 1rem 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.disclaimer > .inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .disclaimer.wrapper {
    padding: 0.5rem 0;
  }

  .disclaimer__link {
    display: none;
  }
  .disclaimer > .inner {
    -webkit-box-pack: start;
    justify-content: start;
  }
}

.menu > .inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.menu__links a {
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: 500;
  margin-left: 1rem;
  font-size: 1rem;
  padding-bottom: 0.2rem;
}

.menu__links a.active {
  text-decoration: none;
  font-weight: 600;
  border-bottom: 3px solid #ff6666;
}

.menu .logo {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.menu > a {
  display: -webkit-box;
  display: flex;
  text-decoration: none;
}

.menu .logo img {
  width: auto;
  height: 50px;
}

.menu.wrapper {
  padding: 1rem 0;
}

@media screen and (max-width: 360px) {
  .menu .logo img {
    height: 40px;
  }
}

@media (max-width: 850px) {
  .menu__links {
    display: none;
  }
}

.info-box {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  display: -webkit-box;
  display: flex;
  width: 50%;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.info-box__icon {
  display: -webkit-box;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 2rem;
}

.info-box__content {
  margin: auto;
  width: auto;
  padding: 0;
}

.info-box__content h2 {
  padding-top: 0;
  font-weight: 200;
  text-align: center;
  color: #d03131;
}

.info-box__content p {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.4rem;
  font-weight: 200;
  font-size: 0.9rem;
}

.info-box__content p.info-box__bolder {
  font-weight: 700;
}

.info-box-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
}

.info-box.stats {
  min-width: 150px;
  display: -webkit-box;
  display: flex;
  padding: 0.5rem 0 1.2rem;
  margin-left: 0.5rem;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background-color: #f0f0f0;
}

.info-box.stats:first-child {
  margin-left: 0;
}

.stats__number {
  font-size: 1.5rem;
  font-weight: 700;
}

.stats__description {
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  line-height: 1rem;
  text-transform: uppercase;
}

.delimiter {
  color: #aaa;
}

.info-box.link-to-stats {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-decoration: none;
  padding: 0.75rem;
}

@media (max-width: 992px) {
  .info-box {
    width: calc(50% - 1rem);
    padding: 0.25rem 0.5rem;
  }

  .info-box.stats {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: calc(50% - 1rem);
    margin-left: 0;
  }

  .info-box.stats:nth-child(even) {
    margin-left: 0.5rem;
  }

  .info-box-row {
    flex-wrap: wrap;
  }
}

@media (max-width: 550px) {
  .info-box__icon {
    width: 35px;
    height: 35px;
    font-size: 1.3rem;
  }

  .info-box__content h2 {
    font-size: 1rem;
    font-weight: 400;
  }

  .info-box__content p {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }
}

.privacy-info-text {
  font-weight: 500;
  margin-bottom: 1rem;
}

ul.actions {
  margin-top: 1.5em;
}

input[type='submit'].inverse {
  color: white !important;
  background-color: black;
  border-color: black;
}

p.subtitle {
  font-size: 1.25rem;
  color: #848484;
  margin-bottom: 1rem;
  font-weight: 900;
  line-height: 1.5;
  margin: 1rem 0;
}

.profile-url {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 2.5rem 0;
  line-height: 1.5;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.copy-icon {
  width: 40px !important;
  height: 40px !important;
  line-height: 1;
  -webkit-box-pack: center;
  justify-content: center;
  height: auto;
  border-radius: 50%;
  background-color: #ffeb3b;
  color: black;
  padding: 0;
  margin: 0 0 0 1rem;
  border: 0;
}

.copy-icon i {
  font-size: 1rem;
}

.copy-icon:hover,
.copy-icon:focus {
  background-color: #ffeb3b;
  color: black;
  opacity: 0.75;
}

#footer.wrapper {
  padding: 0 !important;
}

.about-us,
.about-us h2 {
  color: black;
  text-align: left;
}

.about-us h2 {
  margin-bottom: 1rem;
}

#link-to-be-copied {
  max-width: 100%;
  word-break: break-all;
}

.hamburger-menu-icon {
  font-size: 1.3em;
}

.hamburger-menu-button {
  display: none;
  cursor: pointer;
  border: 3px solid #282828;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 38px;
  height: 38px;
}

.hamburger-menu {
  display: none;
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  width: calc(100% - 4rem);
  margin: 0 auto;
  border-radius: 0.25rem;
}

.hamburger-menu.active {
  display: block;
}

.hamburger-menu.un-collapsed {
  height: 200px;
}

.hamburger-menu .inner {
  padding: 0.5em;
}

.hamburger-menu ul {
  list-style-type: none;
}

.hamburger-menu a {
  text-decoration: none;
  font-weight: 500;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.hamburger-menu a.active {
  font-weight: 600;
}

.hamburger-menu a:hover {
  border-bottom: 3px solid #ff6666;
}

@media (max-width: 850px) {
  .hamburger-menu-button {
    display: -webkit-box;
    display: flex;
  }
}

@media (min-width: 850px) {
  .hamburger-menu {
    display: none !important;
  }
}

.input-block {
  padding-bottom: 1rem;
}

label i {
  font-size: 0.75rem;
  color: #848484;
}

p.slogan {
  font-size: 1.3rem;
  font-weight: 300;
  margin: 2rem 0 0;
}

.share-buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
}

.share-buttons > iframe {
  margin-left: 0.5rem;
}

table.compact tr td {
  padding: 0.3rem 0.6rem;
}

table.compact tr th {
  padding: 0 0.3rem 0.3rem 0.3rem;
}

h2.stat-heading {
  border-bottom: 2px solid #d4d4d4;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.stat-heading + p {
  margin-bottom: 1rem;
}

h3.stat-heading {
  padding-top: 0.5rem;
}

.stat-layout {
  display: -webkit-box;
  display: flex;
}

.stat-cell {
  -webkit-box-flex: 1;
  flex-grow: 1;
  width: 60%;
  box-sizing: border-box;
  padding-right: 1rem;
}

.stat-cell:nth-child(even) {
  width: 40%;
}

.stat-number-layout {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.stat-number-cell {
  box-sizing: border-box;
  width: 50%;
  padding-right: 0.5rem;
}

.stat-number-cell__number {
  color: #af2323;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

.stat-number-cell__description {
  font-size: 0.9rem;
}

@media (max-width: 1144px) {
  .stat-layout {
    flex-wrap: wrap;
  }

  .stat-cell {
    width: 100%;
  }
}
