label {
  font-variant: all-small-caps;
  font-size: 1.25rem;
  margin-bottom: 0.2rem;
}

header.major {
  margin-bottom: 0;
}

header.major p:not(:last-child) {
  margin-bottom: 15px;
}

.row.gtr-uniform .reduced-form-padding {
  padding-top: 0.75rem;
}

h2.slogan + p {
  margin-top: 2rem;
}

p.info {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.privacy-policy h3,
.privacy-policy p {
  margin-bottom: 1rem;
}

input[type='checkbox'] + label.normal-font::before {
  margin-top: 0;
}

input[type='checkbox'] + label.normal-font {
  font-variant: normal;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 3px;
}
