<li
  class="w-1/2 md:w-1/4 p-4 text-white text-center text-4xl font-bold flex flex-col"
>
  <div class="w-32 h-32 m-auto">
    <img src="<%= image %>" alt="icon" />
  </div>
  <div class="py-4 text-cvs-green-dark"><%= number %></div>
  <p
    class="text-cvs-red text-center text-lg font-bold uppercase mb-4 h-12"
  >
    <%= title %>
  </p>
</li>
